MYSQL_USER=flare_e2e
MYSQL_PASSWORD=flare-e2e-database-password
MYSQL_ROOT_PASSWORD=flare-e2e-root-password
SPRING_DATASOURCE_USERNAME=flare_e2e
SPRING_DATASOURCE_PASSWORD=flare-e2e-database-password
REDIS_PASSWORD=flare-e2e-redis-password
APP_JWT_SECRET=flare-e2e-jwt-secret-that-is-longer-than-thirty-two-characters
APP_AUTH_COOKIE_SECURE=false
HTTP_HOST_PORT=8088
MYSQL_HOST_PORT=3308
MAILPIT_HTTP_PORT=8025
FLARE_INTERNAL_SUBNET=172.31.0.0/24
APP_CORS_ALLOWED_ORIGINS=http://127.0.0.1:8088
NGINX_TRUSTED_PROXY_CIDR=192.0.2.1/32
